<div class="table-responsive my-3">
  <table class="table text-center table-bordered table-danger">
    <thead>
      <tr>
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>Transaction Details</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="(customerTransactions | customerFilter: filterByName: filterByAmount)?.length === 0">
        <td colspan="4" class="text-center fs-1">No results found</td>
      </tr>
      <tr *ngFor="let customer of customerTransactions | customerFilter: filterByName: filterByAmount">
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>
          <ul>
            <li *ngFor="let transaction of customer.transactions">
              <strong>Transaction ID:</strong> {{ transaction.id }},
              <strong>Date:</strong> {{ transaction.date }},
              <strong>Amount:</strong> {{ transaction.amount }}
            </li>
          </ul>
        </td>
        <td>
          <button (click)="onDisplayChart(customer)" class="btn rounded-2 text-white">Display Chart</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

